/*sintaxis*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    /*background-color: rgba(81, 130, 123, 0.627);*/
    padding: 0.5rem;
    border: 5px solid black;
    justify-content: space-between;
    /*background-color: cornflowerblue;]//*rgba(9, 54, 65, 0.842);*/
    position: sticky;
}
.contenedor-header {
    display: flex;  
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:baseline;
    align-content: space-between;
}

.logo {
    width: 25%;
    text-align: center;
    align-items: center;
    color: rgba(9, 54, 65, 0.842);
}
.buscador { 
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}

.lista{
    text-decoration:none;
    color: rgba(9, 54, 65, 0.842);
}
.boton{
    color: rgba(9, 54, 65, 0.842);
    border-color: rgba(9, 54, 65, 0.842);
}
.pages {
    padding: 0.5rem;
    border: 5px solid black;
    background-color: salmon;
}
.pages h2 {
    text-align: center;
    font-weight: bold;
    /*color: rgba(9, 54, 65, 0.842);*/
    background-color: yellow;
}
.productos {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch; 
    justify-content: space-between;
}
.productos article {
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    width: 30%;
    background-color: lightgray;
}
.productos h3 {
    text-align: justify;
    font-weight: 200;
}
.productos img {
    margin-bottom: 0.5rem;
    width: 100%;
    object-fit: cover;
 }
.productos p {
    text-align: justify;
    font-weight: 150;
 }
.company {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 5px solid black;
    background-color: lightgreen;
}
.company h2 {
    width: 40%;
    text-align: center;
    font-weight: bold;
    /*color: rgba(9, 54, 65, 0.842);*/
    background-color: yellow;
}
.company h3 {
    text-align: justify;
    font-weight: 150;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 60%;
    background-color: orange;
}
.companyoptions {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch; 
    justify-content: space-between;
}
.companyoptions article {
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    width: 25%;
    background-color: lightgray;
}
.companyoptions img {
    margin-bottom: 0.5rem;
    width: 100%;
    object-fit: cover;
 }