@use "variables";

a {
    color: variables.$color-4;
    text-decoration: none; 
}

ul {
  list-style: none;       // Elimina las viñetas
}


.icon_girar img {
  transition: transform 0.6s ease-in-out;
}

.icon_girar:hover img {
  transform: rotate(360deg);
}